<html>
  <head>
  </head>

  <body>
    Username: <%= @user.username %>
    Level: <%= @user.level %>
    Created: <%= @user.date_created %>
    Last signed in: <%= @user.last_signed_in %>
  </body>

</html>
