<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h3>Welcome to Pack Pals!</h3>
    <h4>Sign up here!</h4>
    <form action="/create" method="POST">
      <input type="text" name="username" placeholder="Enter Username" />
      <input type="password" name="password" placeholder="Enter Password" />
    	<input type="submit" value="Submit" />
    </form>
  </body>
</html>
