<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h3>Welcome to Pack Pals! LOGIN</h3>
    <form action="/login" method="POST">
      <input type="text" name="username" value="Enter Username" />
      <input type="text" name="password" value="Enter Password" />
    	<input type="submit" value="Submit" />
    </form>
  </body>
</html>
